body {
	font-family: 'Hammersmith One', sans-serif;
	background: #1A1A1A;
	color: #CECECE;.0
	margin: 0; padding: 0;
	margin-bottom: 30px;
}
.container {
	margin: 0 auto;
	width: 900px;
	text-align:center;
	padding-bottom: 30px;
}


figure {display: block; max-width: 80px}
figcaption{font-size: 10px; width: 80px; padding-left: 20px; padding-bottom: 20px;}
h1{display: inline-block; width: 550px; padding-left: 20px;}
h1 a, h1 a:visited{color: #cecece; text-decoration: none;}
h1 span{color:#FFF;}
#poster{text-align: center;margin-bottom: 30px;}
#poster div {width: 300px; float: left;}
#poster div p {text-align: left !important;}
#fetch{
	display: inline-block;
	padding-top: 20px;}
.clearfix:after{
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	line-height: 0;
	}
.clearfix{display:inline-block;}
h2.loading{color: #C1C1C1;}
input, button{
	padding: 5px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius:8px;}
img {
	border-radius: 8px;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius:8px;}
footer {
	clear: both;
	color: #CECECE;
	background: #010101;
	width: 100%;
	position: fixed;
	bottom: 0;
	margin-left: -8px;
	border-top: 2px solid #a0a0a0;
	margin-top: 20px;
	padding-left: 20px;
}
footer a{color: #f1f1f1;}
footer a:hover{text-decoration: none;}
